<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>R</string>
				<string>r</string>
				<string>Q</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Rdoc.icns</string>
			<key>CFBundleTypeName</key>
			<string>R Source File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>RDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Quartz Graphics</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>RQuartz</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>Rcommand</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Rrun.icns</string>
			<key>CFBundleTypeName</key>
			<string>R Script</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>RConsole</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>RData</string>
				<string>rds</string>
				<string>rda</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Rdata.icns</string>
			<key>CFBundleTypeName</key>
			<string>R Data File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>RDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>S</string>
				<string>ssc</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>S-PLUS Source File</string>
			<key>CFBundleTypeIconFile</key>
			<string>Rdoc.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>RDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>R</string>
	<key>CFBundleIconFile</key>
	<string>RLogo.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.R-project.R</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>Rgui</string>
	<key>CFBundleVersion</key>
	<string>%SVN%</string>
	<key>LSEnvironment</key>
	<dict>
		<key>DYLD_FALLBACK_LIBRARY_PATH</key>
		<string>/Library/Frameworks/R.framework/Resources/lib</string>
		<key>DYLD_LIBRARY_PATH</key>
		<string>/Library/Frameworks/R.framework/Resources/lib</string>
		<key>R_HOME</key>
		<string>/Library/Frameworks/R.framework/Resources</string>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.3.0</string>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
